<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <span style='mso-bookmark:_Hlk28270219'></span>

        <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
        </p>

        <p class=MsoNormal>No effort is made in this database to include agencies that
            specialized in booking talent only. In this database the focus is on theater
            buildings.<span style='mso-spacerun:yes'>  </span>However, the two leading
            circuits, the <span class=SpellE>Shuberts</span> and the Syndicate, booked
            shows for their theaters. Note that while the <span class=SpellE>Shuberts</span>
            produced many of the shows they represented, the Syndicate never produced at
            all.<span style='mso-spacerun:yes'>  </span>Nevertheless, some talent agencies
            are included where it helps </p>

        <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
        </p>

        <p class=MsoNormal>This database concentrates on American theaters and
            circuits.<span style='mso-spacerun:yes'>  </span>Some British theaters and
            circuits are included, but no effort was made to be exhaustive.<span style='mso-spacerun:yes'> 
            </span>Continental and other foreign theaters and
            circuits are only included where there seems to be some connection to American
            theaters and circuits.</p>

        <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
        </p>

        <p class=MsoNormal>This is not a collection of every theatre in America.<span style='mso-spacerun:yes'> 
            </span>If that were the case, then the place to
            start would have been the Julius Cahn series of books.<span style='mso-spacerun:yes'>  </span>There is
            probably some overlap, but Cahn
            generally did not identify what circuit, if any, a theatre was associated
            with.<span style='mso-spacerun:yes'>  </span>On the other hand, the paid
            advertisements in his books have been an important source information.</p>
    </div>

    {{>footer}}
</body>

</html>