<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>
                <o:p>&nbsp;</o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>While the
                common use of the theatrical term <i style='mso-bidi-font-style:normal'>circuit</i>
                refers to a management system, a circuit also mean simply a <i
                    style='mso-bidi-font-style:normal'>route</i>, a path between two places.<span
                    style='mso-spacerun:yes'>  </span>Sometimes the small cities and towns that lay
                between two larger cities did not have theaters large enough to draw the
                interest of either the Syndicate or the <span class=SpellE>Shuberts</span>.<span
                    style='mso-spacerun:yes'>  </span>What they did offer was a way to break up a
                long jump between major stops by offering attractions one night at their
                theater, and an opportunity to pick up some ready cash, that is, box office
                receipts.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>As usual,
                the best source material for the theaters on this tour is Julius Cahn’s
                Official Theatrical Guides.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>
                <o:p>&nbsp;</o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>The
                Smallest Circuit:<span style='mso-spacerun:yes'>  </span>two theaters<br clear=all
                    style='mso-special-character:line-break;page-break-before:always'>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>
                <o:p>&nbsp;</o:p>
            </span></p>

        <p class=MsoNormal style='margin-top:6.0pt;text-align:justify;line-height:105%;
mso-pagination:widow-orphan lines-together;page-break-after:avoid;mso-outline-level:
2'><a name="_Toc510215105"><b><span style='font-size:14.0pt;line-height:105%;
font-family:"Calibri Light",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>The Kite Circuit, California</span></b></a><b><span style='font-size:14.0pt;line-height:105%;font-family:"Calibri Light",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
                    <o:p></o:p>
                </span></b></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>
                <o:p>&nbsp;</o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>“Henry’s
                Official Western Theatrical Guide” for 1907-1908 was very similar to Cahn’s
                Official Theatre Guide, though there is no record that Henry’s Guide ever had
                editions before or after the 1907-1908 season.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>One of
                the features in Henry’s Guide was a list of “Some Out-of-the Way Routes That
                Mean Money for Small Shows.”<a style='mso-footnote-id:ftn1' href="#_ftn1" name="_ftnref1"
                    title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[1]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>He identified seven
                circuits, all out west,
                that might be of interest to tour promoters.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>There was
                the Marshfield Circuit, described as “A circuit that is worthy of consideration
                from the fact that it is isolated and seldom visited is [the Marshfield
                Circuit].<span style='mso-spacerun:yes'>  </span>It embraces four prosperous
                towns, one of which, Marshfield, being good for a week.<span style='mso-spacerun:yes'>  </span>There are
                steamer connections from San
                Francisco, . . .<span style='mso-spacerun:yes'>  </span>There are also two
                boats leaving Portland. . ..<span style='mso-spacerun:yes'>  </span>Fair in
                either direction is $10.00.”<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>The Wagon
                Circuit “can be played by small companies and picture shows to advantage.<span
                    style='mso-spacerun:yes'>  </span>They are given in routine after leaving the
                main line.”<span style='mso-spacerun:yes'>  </span>The South San Joaquin Valley
                Route was a “tour for small companies going down the Valley one way and
                returning without a double should be booked as follows: Newman, Los <span class=SpellE>Banos</span>,
                Lemoore, Hanford, Visalia, Porterville, Dinuba, <span class=SpellE>Reedly</span>, Sanger, Fresno,
                Madera, Merced, Modesto,
                Stockton.<span style='mso-spacerun:yes'>  </span>And the North San Joaquin
                Valley Route was “[a]n advantageous route from San Francisco to the San Joaquin
                Valley.”<span style='mso-spacerun:yes'>  </span>Not even Henry found all of
                these towns to be worthy of listings in his book.<span style='mso-spacerun:yes'>  </span>Not mentioned
                at all were the towns of Newman,
                Los <span class=SpellE>Banos</span>, or <span class=SpellE>Reedly</span>.<span
                    style='mso-spacerun:yes'>  </span><span class=SpellE>Leemore</span> had a
                population of 1,200, while its theater, the Manning Opera House, had a seating
                capacity of 500.<span style='mso-spacerun:yes'>  </span>Other towns were
                similar sized, while some others were larger.<a style='mso-footnote-id:ftn2' href="#_ftn2"
                    name="_ftnref2" title=""><sup><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;
mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:"Times New Roman";mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[2]</span></sup>
                            <![endif]></span></sup></a>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>
                <o:p>&nbsp;</o:p>
            </span></p>

        <p class=MsoNormal align=center style='margin-bottom:8.0pt;text-align:center;
line-height:105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:
"Times New Roman";mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>The
                “Kite” Circuit<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>“A very
                remunerative and inexpensive trip out of Los Angeles covers the following
                cities:<span style='mso-spacerun:yes'>  </span>Pasadena, Pomona, San
                Bernardino, Redlands, Riverside, Santa Ana, with a double to San Diego if
                necessary.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>The above
                circuit is under the control of Harry C. Wyatt.”<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>
                <o:p>&nbsp;</o:p>
            </span></p>

        <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
        </p>

    </div>

    <div style='mso-element:footnote-list'>
        <![if !supportFootnotes]><br clear=all>

        <hr align=left size=1 width="33%">

        <![endif]>

        <div style='mso-element:footnote' id=ftn1>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn1' href="#_ftnref1" name="_ftn1" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[1]</span></span>
                            <![endif]></span></span></a>
                Henry’s Guide at 14.</p>

        </div>

        <div style='mso-element:footnote' id=ftn2>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn2' href="#_ftnref2" name="_ftn2" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[2]</span></span>
                            <![endif]></span></span></a>
                Id.<span style='mso-spacerun:yes'>  </span>See California, generally.</p>

        </div>

        {{>footer}}
</body>

</html>