<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GrapesJS</title>
    <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
    <script src="//unpkg.com/grapesjs"></script>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }
    </style>
</head>

<body>
    <div id="gjs" style="height:0px; overflow:hidden;">
        {{html}}
    </div>
    <script src="/js/editor.js"></script>

</body>

</html>