<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>
                <o:p>&nbsp;</o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>Beginning
                in 1896, Julius Cahn began publishing the Official Theatrical Guide,
                “containing information of the leading theatres and attractions in America.”<a
                    style='mso-footnote-id:ftn1' href="#_ftn1" name="_ftnref1" title=""><sup><span
                            style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[1]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>In later editions, the
                contents included <o:p></o:p></span></p>

        <p class=MsoNormal style='margin-top:0in;margin-right:.5in;margin-bottom:8.0pt;
margin-left:.5in;text-align:justify;line-height:105%'><span style='mso-ascii-font-family:
Calibri;mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:"Times New Roman"'>Authentic Information Regarding all
                Cities, Towns and Villages wherein Theatrical Organizations may find a Theatre,
                Opera House or Hall to exhibit in as well as the Information pertaining to
                these places of Amusement, the Railroads, Express Companies, Newspapers,
                Billposters, Transfer Companies, Hotels, &amp;c, throughout the United States,
                Canada, Mexico, Hawaii and Cuba.<a style='mso-footnote-id:ftn2' href="#_ftn2" name="_ftnref2"
                    title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[2]</span></sup>
                            <![endif]></span></sup></a>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;text-indent:
.5in;line-height:105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:
"Times New Roman";mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>Organized
                by state and city or town, the information included technical data for
                thousands of theaters across the country.<span style='mso-spacerun:yes'> 
                </span>While the info might vary slightly from theater to theater, the info
                typically included the population of the town, the name of the theater, the
                name of the theater’s manager, and the seating capacity.<span style='mso-spacerun:yes'>  </span>In the
                early years, a notation of power
                supply was included, such as “gas and electricity”<a style='mso-footnote-id:
ftn3' href="#_ftn3" name="_ftnref3" title=""><sup><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;
mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:"Times New Roman";mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[3]</span></sup>
                            <![endif]></span></sup></a>
                or “elec. Volt., 105 alternating; direct current for <span class=SpellE>calciums</span>.<span
                    style='mso-spacerun:yes'>  </span>General electric system.”<a style='mso-footnote-id:
ftn4' href="#_ftn4" name="_ftnref4" title=""><sup><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;
mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:"Times New Roman";mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[4]</span></sup>
                            <![endif]></span></sup></a>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>Names of
                heads of departments were usually included, such as electrician and stage
                carpenter.<span style='mso-spacerun:yes'>  </span>Dimensions of the stage were
                given, such as<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-top:0in;margin-right:.5in;margin-bottom:8.0pt;
margin-left:.5in;text-align:justify;line-height:105%'><span style='mso-ascii-font-family:
Calibri;mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:"Times New Roman"'>Width prose, opening, 28 ft. Height, 26
                ft. Depth footlights to back wall, 30 ft. Dist. curtain line to footlights, 3
                ft. Dist. bet. side walls, 60 ft. Dist. bet. fly girders, 45 ft. Stage to
                rigging loft, 52 ft. Depth under stage, 9 ft. 1 trap, located at center.
                Grooves can be taken up 22 ft. flush with fly gallery. Theatre ground floor.<a
                    style='mso-footnote-id:ftn5' href="#_ftn5" name="_ftnref5" title=""><sup><span
                            style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[5]</span></sup>
                            <![endif]></span></sup></a>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-top:0in;margin-right:.5in;margin-bottom:8.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>Advertising
                information was provided, along with hotel and railroad contacts:<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-top:0in;margin-right:.5in;margin-bottom:8.0pt;
margin-left:.5in;text-align:justify;line-height:105%'><span style='mso-ascii-font-family:
Calibri;mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:"Times New Roman"'>Printing required. 3 stands, 18
                3-sheets, 200 1 sheets and ½ <span class=GramE>sheets .</span> Dates to read,
                Opera House. J. P. Casimir, bill-poster.... Hotels —Grand Central, $1.25. City
                Hall, $1 .... Railroads— Houston &amp; Texas Central, Calvert, Waco &amp;
                Brazos Valley. Express <span class=GramE>Cos..</span> Pacific and Adams.<a style='mso-footnote-id:ftn6'
                    href="#_ftn6" name="_ftnref6" title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[6]</span></sup>
                            <![endif]></span></sup></a>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>Larger
                theaters in big cities had more information available.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'><span style='mso-tab-count:1'>             
                </span>The book was published almost
                every year between 1896 and 1921, but no book was issued for the 1911-1912
                season.<span style='mso-spacerun:yes'>  </span>Volume 18 covered 1914-1915, and
                Volume 20 covered 1921 (1920-1921?<span style='mso-spacerun:yes'> 
                </span>1921-1922?), but there is no record of a Volume 19, or an issue between
                1915 and 1921.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'><span style='mso-tab-count:1'>             
                </span>Cahn acknowledged in every edition
                that he was dependent on the theater owners and managers to provide him with up
                to date information, but if they failed to do so, their theater would not be
                included.<span style='mso-spacerun:yes'>  </span>(“There is a theatre at this
                point but management refuses to give corrected information.”<a style='mso-footnote-id:ftn7'
                    href="#_ftn7" name="_ftnref7" title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[7]</span></sup>
                            <![endif]></span></sup></a>)<span style='mso-spacerun:yes'>  </span>Consequently, some
                theaters were not always
                included in each edition.<span style='mso-spacerun:yes'>  </span>More notably,
                over the <span class=GramE>years</span> theaters came and went.<span style='mso-spacerun:yes'> 
                </span>It is generally possible to determine the
                dates of the existence or a particular theater by observing its first and last
                appearance in the Guide.<span style='mso-spacerun:yes'>  </span>In the 1906
                edition, there was an entry for the Amusement Hall in <span class=SpellE>Blocton</span>,
                Alabama.<span style='mso-spacerun:yes'>  </span>But in the 1913 book, the
                notation was now “Theatre out of existence, all attractions play West <span class=SpellE>Blocton</span>,
                one mile.”<span style='mso-spacerun:yes'> 
                </span>Both editions contained information for the Opera House in West <span
                    class=SpellE>Blocton</span>, Alabama.<span style='mso-spacerun:yes'> 
                </span>Sometimes it was just a curt “Theatre closed,” this one referring to the
                Ensley Opera House, which had been included in earlier editions.<a style='mso-footnote-id:ftn8'
                    href="#_ftn8" name="_ftnref8" title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[8]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>
                <o:p>&nbsp;</o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>While
                Julius Cahn’s guides were the biggest and longest lasting, there were other
                guides of a similar nature.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>There was
                “Henry’s Official Western Theatrical Guide, 1907-1908 — Primary Source
                Edition.”<span style='mso-spacerun:yes'>  </span>It claimed to contain
                “Authentic information of theatres and attractions in the territory from Denver
                west to the coast, and a list of reliable hotels, transfer companies and bill
                posters.”<span style='mso-spacerun:yes'>  </span>At only 90 pages, it was very
                limited in scope, but in style very similar to Cahn.<span style='mso-spacerun:yes'>  </span><span
                    style='mso-spacerun:yes'> </span>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>In a sort
                of preface, the Guide claimed to have been “met with most unanimous favor,” but
                there is no evidence that an earlier edition was ever published.<span style='mso-spacerun:yes'> 
                </span>Similarly, that preface said that “Each year
                we will improve it—keeping it always up-to-date.”<span style='mso-spacerun:yes'>  </span>But again,
                there is no known issue following
                the 1907-08 edition.<span
                    style='mso-spacerun:yes'>                                                              
                </span><span
                    style='mso-spacerun:yes'>                                                                                                                                                                                                                                                                </span><span
                    style='mso-spacerun:yes'>                                                                                                                                                                                                                                                                </span><span
                    style='mso-spacerun:yes'>                                                                                                                                                                                                                                                                </span><span
                    style='mso-spacerun:yes'>                                                                                                                                                                                                                                                                </span><span
                    style='mso-spacerun:yes'>                                                                                                                                                                                                                                                                </span><span
                    style='mso-spacerun:yes'>                                                                                                                                                                                                                                                                </span><span
                    style='mso-spacerun:yes'>                                                                                                                                                                                                                                                                </span><span
                    style='mso-spacerun:yes'>                                                                                                                                                               </span>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>
                <o:p>&nbsp;</o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>Herbert
                Lloyd published “Vaudeville Trails Thru the West” in 1919.<span style='mso-spacerun:yes'> 
                </span>Lloyd’s introduction claimed that the 1919
                edition was the “second attempt at compiling a guide book,” and hoped that the
                1919 edition will attain the same amount of success.<span style='mso-spacerun:yes'> 
                </span>Nevertheless, no earlier edition has ever
                been found.<span style='mso-spacerun:yes'>  </span>And no subsequent edition
                has ever been found either.<o:p></o:p></span></p>

    </div>

    <div style='mso-element:footnote-list'>
        <![if !supportFootnotes]><br clear=all>

        <hr align=left size=1 width="33%">

        <![endif]>

        <div style='mso-element:footnote' id=ftn1>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn1' href="#_ftnref1" name="_ftn1" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[1]</span></span>
                            <![endif]></span></span></a>
                The publication evolved over the years and changed hands a few times.<span style='mso-spacerun:yes'> 
                </span>From its inception in 1896 until about the
                1910-1911 season (Vol. 15), it was Julius Cahn’s Official Theatrical Guide.<span
                    style='mso-spacerun:yes'>  </span>There was no edition published for 1911-1912,
                but in 1912-1913, Vol. 16, the title page showed “The Cahn-Leighton Official
                Theatrical Guide (successor to the Julius Cahn Official Theatrical
                Guide)”.<span style='mso-spacerun:yes'>  </span>That arrangement only lasted
                two years.<span style='mso-spacerun:yes'>  </span>By 1914, Volume 18, Gus Hill
                took over the entire project, and it became “Gus Hill’s National Theatrical
                Directory.”<span style='mso-spacerun:yes'>  </span>It explained that it was now
                “The only authentic and complete Theatrical Directory, in existence, having
                just absorbed Julius Cahn’s Official Guide.”<span style='mso-spacerun:yes'> 
                </span>No mention of Leighton.<span style='mso-spacerun:yes'>  </span>There is
                no record of a Volume 19, but in 1921 Volume 20 appeared, but it was now called
                “The Julius Cahn-Gus Hill Theatrical Guide and Moving Picture Directory.”<span
                    style='mso-spacerun:yes'>  </span>It kept that title for the last edition of
                the directory, Supplement to Vol. 21, published in 1921.<span style='mso-spacerun:yes'>  </span>For
                consistency of reference throughout this
                book, all citations to any version of the guide will be listed as “Cahn, Vol.
                __.”<span style='mso-bidi-font-family:"Times New Roman"'>
                    <o:p></o:p>
                </span></p>

        </div>

        <div style='mso-element:footnote' id=ftn2>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn2' href="#_ftnref2" name="_ftn2" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[2]</span></span>
                            <![endif]></span></span></a>
                Vol. 17, 1913-1914, at title page.</p>

        </div>

        <div style='mso-element:footnote' id=ftn3>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn3' href="#_ftnref3" name="_ftn3" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[3]</span></span>
                            <![endif]></span></span></a>
                Vol. 8, 1903, Indiana, Vincennes, <span class=SpellE>McJimsey’s</span> Theatre.</p>

        </div>

        <div style='mso-element:footnote' id=ftn4>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn4' href="#_ftnref4" name="_ftn4" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[4]</span></span>
                            <![endif]></span></span></a>
                Vol. 8, 1903, Indiana, Terre Haute, Grand Opera House.</p>

        </div>

        <div style='mso-element:footnote' id=ftn5>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn5' href="#_ftnref5" name="_ftn5" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[5]</span></span>
                            <![endif]></span></span></a><span style='mso-spacerun:yes'>  </span>Vol. 2, 1897, Missouri,
                Chillicothe, Luella
                Grand.</p>

        </div>

        <div style='mso-element:footnote' id=ftn6>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn6' href="#_ftnref6" name="_ftn6" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[6]</span></span>
                            <![endif]></span></span></a><span style='mso-spacerun:yes'>  </span>Vol.11, 1908, Texas,
                Calvert, Casimir’s Opera
                House.</p>

        </div>

        <div style='mso-element:footnote' id=ftn7>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn7' href="#_ftnref7" name="_ftn7" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[7]</span></span>
                            <![endif]></span></span></a>
                Vol. 17, 1913, Alabama, <span class=SpellE>Creenville</span>.</p>

        </div>

        <div style='mso-element:footnote' id=ftn8>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn8' href="#_ftnref8" name="_ftn8" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[8]</span></span>
                            <![endif]></span></span></a>
                Vol. 11, 1906, and Vol. 17, 1913, Alabama, Ensley.</p>
        </div>

        {{>footer}}
</body>

</html>