<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify'><span style='mso-bidi-font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
"Times New Roman";mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri'>In
                the latter part of the 19<sup>th</sup> century, the old stock theater system
                gave way to stars who traveled from theater to theater.<span style='mso-spacerun:yes'>  </span>That
                developed into “combination” units,
                where it was not just the star of the show who traveled, but the entire cast,
                along with all the scenery and whatever was necessary for the performance of
                the play.<span style='mso-spacerun:yes'>  </span>It quickly became apparent
                that it was in the interest of the traveling show to have some order to its
                tour.<span style='mso-spacerun:yes'>  </span>That is, it was obviously better
                to go from New York to Philadelphia to Pittsburg to Chicago, for example, than
                to go from New York to Pittsburg to Chicago to Philadelphia.<span style='mso-spacerun:yes'> 
                </span>Likewise, it was in the best interest of the
                theater manager to know he could rely on a show appearing when it said it
                would, and not risk having an unexpected empty theater.<span style='mso-spacerun:yes'>  </span>Thus,
                small groups of theaters organized, and
                then larger groups organized those first groups.<span style='mso-spacerun:yes'>  </span>Middlemen
                appeared, those who neither owned
                theaters nor produced shows, but who did know how to move a show from place to
                place reliably.<span style='mso-spacerun:yes'>  </span>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify'><span style='mso-bidi-font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
"Times New Roman";mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri'>The
                size of these circuits varied widely, but some were quite small.<span style='mso-spacerun:yes'> 
                </span>E.S. Brigham was the booking representative
                for six theaters in Kansas and one in Missouri.<a style='mso-footnote-id:ftn1' href="#_ftn1"
                    name="_ftnref1" title=""><sup><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;
font-family:"Calibri",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[1]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>Two theaters, one in
                Burlington, Vermont, and
                one in Plattsburgh, New York, got together and created what amounted to a
                two-theater circuit.<a style='mso-footnote-id:ftn2' href="#_ftn2" name="_ftnref2" title=""><sup><span
                            style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;font-family:"Calibri",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA'>[2]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>Ira W. Jackson, lessee
                and manager of three
                theaters in Connecticut, put together his own circuit of theaters, “Forming a
                Circuit comprised within a radius of twenty-three miles.<span style='mso-spacerun:yes'> 
                </span>Handsomest Theatres in Eastern
                Connecticut.<span style='mso-spacerun:yes'>  </span>Playing Leading Attractions
                only.”<a style='mso-footnote-id:ftn3' href="#_ftn3" name="_ftnref3" title=""><sup><span
                            style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;font-family:"Calibri",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA'>[3]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>They were all of recent
                construction: one
                each built in 1889, 1890, and 1891.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify'><span style='mso-bidi-font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
"Times New Roman";mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri'>Some
                managers felt that belonging to a circuit was not in their best interests, and
                believed remaining truly independent was the way to go.<span style='mso-spacerun:yes'>  </span>The
                Atchison Theatre<a style='mso-footnote-id:
ftn4' href="#_ftn4" name="_ftnref4" title=""><sup><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;
font-family:"Calibri",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[4]</span></sup>
                            <![endif]></span></sup></a>
                in Atchison, Kansas, advertised itself as “Independent of Any Circuit.”<a style='mso-footnote-id:ftn5'
                    href="#_ftn5" name="_ftnref5" title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;font-family:"Calibri",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA'>[5]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>Perhaps they had no
                choice about it, as if
                there were other theaters in town, the other theaters might be newer or larger,
                and therefore of greater interest to established circuits.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify'><span style='mso-bidi-font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
"Times New Roman";mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri'>Sometimes,
                it sounded like the managers were almost pleading:<span style='mso-spacerun:yes'>  </span>“Managers of
                first-class attractions should
                not forget Marietta, the best one-night stand in [Ohio],” read the ad for the
                Auditorium theater (seating capacity 1200) in Cahn’s 1897 edition.<a style='mso-footnote-id:ftn6'
                    href="#_ftn6" name="_ftnref6" title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;font-family:"Calibri",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA'>[6]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>Still, all was not
                without hope for the
                Auditorium, as it did book shows managed by Julius Cahn, Smyth and Rice, D.W.
                Truss, and <span class=SpellE>Klaw</span> &amp; Erlanger.<o:p></o:p></span></p>

        <p class=MsoNormal style='text-align:justify'><span style='mso-ascii-font-family:
Calibri;mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:"Times New Roman"'>Similarly, the Grand Opera House in
                Crawford, Kansas (seating capacity 1,500), advertised itself as “Independent of
                Any Circuit.”<span style='mso-spacerun:yes'>  </span>The Crawford managers
                claimed that they “CAN PUT ON THE LARGEST ATTRACTIONS TRAVELING. FOR THEM, WE
                BILL AND DRAW FROM TWENTY TOWNS. <o:p></o:p></span></p>

        <p class=MsoNormal style='text-align:justify'><span style='mso-bidi-font-size:
12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri'>WITH THEM, WE CAN
                PACK THE HOUSE. HAVE DONE IT. CAN DO IT AGAIN.”<span style='mso-spacerun:yes'> 
                </span>Or were they really?<span style='mso-spacerun:yes'>  </span>In their
                1896 Cahn ad, they directed shows to their representatives in New York:<span style='mso-spacerun:yes'> 
                </span>Frohman’s Exchange and <span class=SpellE>Klaw</span>
                and Erlanger’s Exchange, among others.<a style='mso-footnote-id:ftn7' href="#_ftn7" name="_ftnref7"
                    title=""><sup><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;
font-family:"Calibri",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[7]</span></sup>
                            <![endif]></span></sup></a>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify'><span style='mso-bidi-font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
"Times New Roman";mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri'>
                <o:p>&nbsp;</o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify'><span style='mso-bidi-font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
"Times New Roman";mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri'>While
                these large and small circuits brought some organization to the sometimes-chaotic
                process of theaters across the country trying to book a season of shows, they
                generally did not work together, and there was no coordinated ability to tie
                the nation’s theaters together in any way.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify'><span class=GramE><span style='mso-bidi-font-size:12.0pt;mso-ascii-font-family:Calibri;
mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri'>So</span></span><span style='mso-bidi-font-size:
12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri'> in 1896, leaders
                of six of the most important circuits got together and organized the Theatrical
                Syndicate.<span style='mso-spacerun:yes'>  </span>Al Hayman, Charles Frohman,
                Nixon &amp; Zimmerman, and <span class=SpellE>Klaw</span> &amp; Erlanger
                combined forces and created what was to become the largest and most powerful
                theatrical organization that ever existed.<span style='mso-spacerun:yes'> 
                </span>The Syndicate was a partnership, not a corporation.<span style='mso-spacerun:yes'>  </span>That
                meant that the Syndicate agreements
                provided that the owners of the theater chains would work together in booking
                their theaters.<span style='mso-spacerun:yes'>  </span>The Syndicate
                organization itself never owned any theaters; it never produced any shows, and
                never owned any interest in a production.<span style='mso-spacerun:yes'> 
                </span>Once established, the Syndicate arranged to book independent theaters
                and small circuits and producers far beyond those controlled by the six
                partners.<span style='mso-spacerun:yes'>  </span>It provided a service to the
                owners and managers of theaters, and to the producers of shows.<span style='mso-spacerun:yes'> 
                </span>The Syndicate’s income came from both sides,
                the theater and the show.<span style='mso-spacerun:yes'>  </span>It provided
                shows to theaters, and theaters to shows.<span style='mso-spacerun:yes'> 
                </span>With hundreds of shows on tour to thousands of theaters, this
                centralization was not just inevitable, it was good business.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>The
                Syndicate grew from 53 theaters in 1897 to 83 in 1903.<span style='mso-spacerun:yes'>  </span>By 1907 it
                had 80 “official” theaters.<a style='mso-footnote-id:ftn8' href="#_ftn8" name="_ftnref8"
                    title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[8]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>These “official” theaters
                were leased, owned
                or operated by the Syndicate.<span style='mso-spacerun:yes'>  </span>More
                importantly, by 1904 the Syndicate booked over 500 theaters at the same time.<span
                    style='mso-spacerun:yes'>  </span>The group seems to have peaked at around 700
                theaters.<a style='mso-footnote-id:ftn9' href="#_ftn9" name="_ftnref9" title=""><sup><span
                            style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[9]</span></sup>
                            <![endif]></span></sup></a>
                The number of theaters any circuit reported was always in flux and theaters constantly
                came and went from its control.<span style='mso-spacerun:yes'>  </span>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-bidi-font-size:12.0pt;line-height:105%;mso-ascii-font-family:
Calibri;mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri'>However, as is sometimes the case, centralized
                control eventually leads to monopoly control.<span style='mso-spacerun:yes'>  
                </span>The Syndicate eventually booked so many theaters that if a show did not
                agree to its terms, it could not get a theater to perform in, and if a theater
                did not agree to its terms, it could not get a show to perform there.<span style='mso-spacerun:yes'> 
                </span>As a result, more and more theaters and shows
                had to join up, or they would be squeezed out of business.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-bidi-font-size:12.0pt;line-height:105%;mso-ascii-font-family:
Calibri;mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri'>The system generally worked exceptionally
                well.<span style='mso-spacerun:yes'>  </span>Business was terrific.<span style='mso-spacerun:yes'> 
                </span>In the early years of the 20<sup>th</sup>
                century the road show was still king. </span><span style='mso-ascii-font-family:
Calibri;mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:"Times New Roman"'>The road tour evolved over the years,
                but it was not just the major cities that attracted shows, it was also the
                smaller towns between the big cities.<span style='mso-spacerun:yes'>  </span></span><span style='mso-bidi-font-size:12.0pt;line-height:105%;mso-ascii-font-family:Calibri;
mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri'><span style='mso-spacerun:yes'> </span>In 1913,
                there were a reported 5,000 theaters in 3,500 cities and towns.<span style='mso-spacerun:yes'> 
                </span>There were some 250 shows touring to help
                fill those theaters.<a style='mso-footnote-id:ftn10' href="#_ftn10" name="_ftnref10" title=""><sup><span
                            style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;font-family:"Calibri",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA'>[10]</span></sup>
                            <![endif]></span></sup></a></span><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'><span style='mso-spacerun:yes'>   </span>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-bidi-font-size:12.0pt;line-height:105%;mso-ascii-font-family:
Calibri;mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri'>There were theaters everywhere.<span style='mso-spacerun:yes'>  </span>Every town had
                one.<span style='mso-spacerun:yes'>  </span>Or more than one.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>What made
                the road tour possible, and profitable, was a good route.<span style='mso-spacerun:yes'>  </span>The big
                theater in the big city was where
                most of the money could be made, but to avoid having railroad costs cut too
                deeply into the receipts, the jumps between the cities had to be broken into
                one or two-night stands in the towns between them.<span style='mso-spacerun:yes'>  </span>In this way,
                the railroad fairs would not
                increase substantially, but the potential box office receipts would help
                significantly defray the costs.<a style='mso-footnote-id:ftn11' href="#_ftn11" name="_ftnref11"
                    title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[11]</span></sup>
                            <![endif]></span></sup></a>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>But the
                fact was that as many as 70% of these small-town theaters were inadequate for
                the presentation of first-class productions.<span style='mso-spacerun:yes'> 
                </span>They escaped the grip of the Syndicate because they were mostly small
                one-night theaters that were not important to the Syndicate.<a style='mso-footnote-id:ftn12'
                    href="#_ftn12" name="_ftnref12" title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[12]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>Indeed, a statement from
                the Syndicate <span style='background:yellow;mso-highlight:yellow'>XXXXX</span>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>Hot on
                the Syndicate’s heals were the Shubert brothers.<span style='mso-spacerun:yes'>  </span>Beginning with
                just a single theater in
                upstate New York, Sam, Lee and Jacob (“JJ” or “Jake”) created a circuit that
                would eventually rival the Syndicate.<span style='mso-spacerun:yes'>  </span>In
                Cahn’s 1898 edition Sam Shubert ran his first ad.<span style='mso-spacerun:yes'>  </span>He listed just
                four theaters, the Bastable
                Theatre in Syracuse, the Rand Opera House in Troy, the Opera House in Utica,
                and the Cook Opera House in Rochester, all in New York.<span style='mso-spacerun:yes'>  </span>Sam
                booked the Bastable himself, but the
                others were booked by M. Reis, who worked with the Syndicate.<a style='mso-footnote-id:ftn13'
                    href="#_ftn13" name="_ftnref13" title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[13]</span></sup>
                            <![endif]></span></sup></a>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>As their
                holdings grew, Sam and his brothers first cooperated with the Syndicate, then
                competed against it, went to war with it, and eventually triumphed over
                it.<span style='mso-spacerun:yes'>  </span>Before they were done, they owned,
                leased, managed or booked about a thousand theaters, coast to coast.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>Even
                while the Syndicate and the <span class=SpellE>Shuberts</span> did battle, they
                were not the only two circuits around the country.<span style='mso-spacerun:yes'>  </span>All over
                America there were smaller,
                independent circuits.<span style='mso-spacerun:yes'>  </span>These ranged in
                size from just a handful of theaters to hundreds of theaters.<span style='mso-spacerun:yes'> 
                </span>Generally, although the theaters in these
                circuits were independently owned and managed, they still often looked to the
                two major operations to supply attractions for their theaters.<o:p></o:p></span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>One of
                the largest of these circuits was the <i style='mso-bidi-font-style:normal'>Julius
                    Cahn</i> and <i style='mso-bidi-font-style:normal'>Cahn and Grant Affiliated
                    Theatres</i>.<span style='mso-spacerun:yes'>  </span>In 1907, they listed 119
                theaters in their circuit,<a style='mso-footnote-id:ftn14' href="#_ftn14" name="_ftnref14"
                    title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[14]</span></sup>
                            <![endif]></span></sup></a>
                although in another advertisement they claimed to represent 148 “of the
                Principal Theatres” in New England, New York, New Jersey, and Pennsylvania.<a
                    style='mso-footnote-id:ftn15' href="#_ftn15" name="_ftnref15" title=""><sup><span
                            style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[15]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>Either way, they had so
                many theaters that in
                Cahn’s 1906 edition, they earned their own separate index listing of
                illustrations of many of their theaters.<a style='mso-footnote-id:ftn16' href="#_ftn16" name="_ftnref16"
                    title=""><sup><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;
mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:"Times New Roman";mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[16]</span></sup>
                            <![endif]></span></sup></a>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>The
                Inter-Mountain Theatrical Circuit managed more than 100 theaters throughout the
                west.<span style='mso-spacerun:yes'>  </span>They had 34 in Utah, 15 in Nevada,
                15 in Arizona, 12 in Wyoming, 14 in Idaho, 9 in Colorado, 5 in Nebraska, 2 in
                South Dakota, and one each in Texas and California.<span style='mso-spacerun:yes'>  </span>Attractions
                for all these theaters were
                supplied by the <span class=SpellE>Shuberts</span>.<a style='mso-footnote-id:
ftn17' href="#_ftn17" name="_ftnref17" title=""><sup><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;
mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:"Times New Roman";mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[17]</span></sup>
                            <![endif]></span></sup></a>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>The
                Sommers Circuit ran eleven theaters on the south side of Lake Michigan.<span style='mso-spacerun:yes'> 
                </span>It included the Powers Theatre in Grand
                Rapids, Michigan, as well as the Bell Opera House in Benton Harbor, and the
                Beckwith Memorial Theatre in Dowagiac.<span style='mso-spacerun:yes'> 
                </span>In Indiana the circuit included the Auditorium and the Oliver Opera
                House in South Bend; the <span class=SpellE>Gennett</span> Theatre in Richmond,
                the Indiana Theatre and the Grand Theatre in Marion, the Jefferson Theatre in
                Goshen, and the <span class=SpellE>Bucklen</span> Theatre in Elkhart.<span style='mso-spacerun:yes'> 
                </span>All were booked through the Syndicate
                partners, Stair &amp; <span class=SpellE>Havlin</span> and Julius Cahn, or
                Harry Sommers directly.<a style='mso-footnote-id:ftn18' href="#_ftn18" name="_ftnref18"
                    title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[18]</span></sup>
                            <![endif]></span></sup></a>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>The New
                Crawford Circuit managed 51 theaters in Missouri, Nebraska, Kansas, Arkansas
                and one in Louisiana.<a style='mso-footnote-id:ftn19' href="#_ftn19" name="_ftnref19"
                    title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[19]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>   </span>There was the simply
                named “Iowa and
                Illinois Circuit of Theatres” that managed theaters in 36 towns in those two
                states.<a style='mso-footnote-id:ftn20' href="#_ftn20" name="_ftnref20" title=""><sup><span
                            style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[20]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>This was a substantial
                increase from the nine
                towns they listed in 1898.<a style='mso-footnote-id:ftn21' href="#_ftn21" name="_ftnref21"
                    title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[21]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>Sometimes
                the railroads themselves took things into their own hands.<span style='mso-spacerun:yes'>  </span>In
                1896 the Great Northern Railway came up
                with what seems like a complicated promotion.<span style='mso-spacerun:yes'> 
                </span>They teamed up with “The Magnificent Steamships North West [and] North
                Land.”<span style='mso-spacerun:yes'>  </span>Apparently, the idea was to sail
                from the midland lakes to the Western Ocean (Pacific?<span style='mso-spacerun:yes'>  </span>They didn’t
                say).<span style='mso-spacerun:yes'>  </span>They listed twenty-three cities in the
                northwest part of the county they called “Theatrical Circuit.”<a style='mso-footnote-id:ftn22'
                    href="#_ftn22" name="_ftnref22" title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[22]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>In 1914, the Illinois
                Central Railroad
                promoted “good show towns [that] are numerous along the line of the Illinois
                Central Railroad.” The hoped-for result would be increased ticket sales and
                freight <span class=GramE>hauling<span style='mso-spacerun:yes'>  </span>cast</span>
                and scenery along their routes.<a style='mso-footnote-id:ftn23' href="#_ftn23" name="_ftnref23"
                    title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[23]</span></sup>
                            <![endif]></span></sup></a>
                <o:p></o:p>
            </span></p>

        <p class=MsoNormal style='margin-bottom:8.0pt;text-align:justify;line-height:
105%'><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:"Times New Roman"'>But alas,
                the market for these road theaters largely dried up within just a few
                years.<span style='mso-spacerun:yes'>  </span>While the road grew rapidly in
                the early 1900’s, it just as quickly faded.<span style='mso-spacerun:yes'> 
                </span>In 1909, Julius Cahn claimed 287 theaters in his circuit.<a style='mso-footnote-id:ftn24'
                    href="#_ftn24" name="_ftnref24" title=""><sup><span style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[24]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>But by 1913, he only
                listed 11 theaters in
                New England.<a style='mso-footnote-id:ftn25' href="#_ftn25" name="_ftnref25" title=""><sup><span
                            style='mso-special-character:footnote'>
                            <![if !supportFootnotes]><sup><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'>[25]</span></sup>
                            <![endif]></span></sup></a><span style='mso-spacerun:yes'>  </span>
                <o:p></o:p>
            </span></p>
        <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
        </p>

        <p class=MsoNormal><span style='mso-spacerun:yes'> </span></p>

        <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
        </p>

    </div>

    <div style='mso-element:footnote-list'>
        <![if !supportFootnotes]><br clear=all>

        <hr align=left size=1 width="33%">

        <![endif]>

        <div style='mso-element:footnote' id=ftn1>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn1' href="#_ftnref1" name="_ftn1" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[1]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 1 at 186.</p>

        </div>

        <div style='mso-element:footnote' id=ftn2>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn2' href="#_ftnref2" name="_ftn2" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[2]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 1 at 200.</p>

        </div>

        <div style='mso-element:footnote' id=ftn3>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn3' href="#_ftnref3" name="_ftn3" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[3]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 1 at 92.</p>

        </div>

        <div style='mso-element:footnote' id=ftn4>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn4' href="#_ftnref4" name="_ftn4" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[4]</span></span>
                            <![endif]></span></span></a> In
                Cahn’s 1896 edition (Vol. 1), the theater reported a seating capacity of
                1,632.<span style='mso-spacerun:yes'>  </span>In both the 1896 and 1897
                editions, advertisements for the theater gave it a seating capacity of 1,250
                (plus standing room gave it a total capacity of 1,500, although the text still
                showed it at 1,100), and in Cahn’s 1898 edition (Vol. 3), the theater had a
                seating capacity of 1,100.<span style='mso-spacerun:yes'>  </span>Descriptions
                of the stage remained consistent throughout, so all these reports did refer to
                the same building.</p>

        </div>

        <div style='mso-element:footnote' id=ftn5>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn5' href="#_ftnref5" name="_ftn5" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[5]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 1 At 172.</p>

        </div>

        <div style='mso-element:footnote' id=ftn6>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn6' href="#_ftnref6" name="_ftn6" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[6]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 2 at 555.</p>

        </div>

        <div style='mso-element:footnote' id=ftn7>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn7' href="#_ftnref7" name="_ftn7" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[7]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 1 at 120.</p>

        </div>

        <div style='mso-element:footnote' id=ftn8>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn8' href="#_ftnref8" name="_ftn8" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[8]</span></span>
                            <![endif]></span></span></a> <span class=SpellE>Bernheim</span>, at 52.</p>

        </div>

        <div style='mso-element:footnote' id=ftn9>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn9' href="#_ftnref9" name="_ftn9" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[9]</span></span>
                            <![endif]></span></span></a> <span class=SpellE>Bernheim</span>, at 52.</p>

        </div>

        <div style='mso-element:footnote' id=ftn10>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn10' href="#_ftnref10" name="_ftn10" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[10]</span></span>
                            <![endif]></span></span></a>
                The Business of the Theatre, Alfred <span class=SpellE>Bernehim</span>
                (Benjamin <span class=SpellE>Blom</span>, New York, 1932), at 35.</p>

        </div>

        <div style='mso-element:footnote' id=ftn11>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn11' href="#_ftnref11" name="_ftn11" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[11]</span></span>
                            <![endif]></span></span></a> <span class=SpellE>Bernheim</span>, at 49 citing the New York
                Dramatic Mirror, Vol.
                63, May 7, 2010 at 14.</p>

        </div>

        <div style='mso-element:footnote' id=ftn12>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn12' href="#_ftnref12" name="_ftn12" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[12]</span></span>
                            <![endif]></span></span></a> <span class=SpellE>Bernheim</span>, at 53.</p>

        </div>

        <div style='mso-element:footnote' id=ftn13>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn13' href="#_ftnref13" name="_ftn13" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[13]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 3 at xii.</p>

        </div>

        <div style='mso-element:footnote' id=ftn14>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn14' href="#_ftnref14" name="_ftn14" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[14]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 11 at 200-201.</p>

        </div>

        <div style='mso-element:footnote' id=ftn15>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn15' href="#_ftnref15" name="_ftn15" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[15]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 11 at 13.</p>

        </div>

        <div style='mso-element:footnote' id=ftn16>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn16' href="#_ftnref16" name="_ftn16" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[16]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 11 at xi.</p>

        </div>

        <div style='mso-element:footnote' id=ftn17>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn17' href="#_ftnref17" name="_ftn17" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[17]</span></span>
                            <![endif]></span></span></a> <a
                    href="http://www.familysearch.or/wiki/enDawson,_Colfax_County,_New_Mexico,_Opera_House"><span
                        class=Hyperlink1>www.familysearch.or/wiki/enDawson,_Colfax_County,_New_Mexico,_Opera_House</span></a>
            </p>

        </div>

        <div style='mso-element:footnote' id=ftn18>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn18' href="#_ftnref18" name="_ftn18" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[18]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 14 at 110.</p>

        </div>

        <div style='mso-element:footnote' id=ftn19>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn19' href="#_ftnref19" name="_ftn19" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[19]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 14 at 236.</p>

        </div>

        <div style='mso-element:footnote' id=ftn20>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn20' href="#_ftnref20" name="_ftn20" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[20]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 14 at 262.</p>

        </div>

        <div style='mso-element:footnote' id=ftn21>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn21' href="#_ftnref21" name="_ftn21" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[21]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 3 at 92.</p>

        </div>

        <div style='mso-element:footnote' id=ftn22>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn22' href="#_ftnref22" name="_ftn22" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[22]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 1 at 164.</p>

        </div>

        <div style='mso-element:footnote' id=ftn23>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn23' href="#_ftnref23" name="_ftn23" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[23]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 18 at 23.</p>

        </div>

        <div style='mso-element:footnote' id=ftn24>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn24' href="#_ftnref24" name="_ftn24" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[24]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 14 at 21.</p>

        </div>

        <div style='mso-element:footnote' id=ftn25>

            <p class=MsoFootnoteText><a style='mso-footnote-id:ftn25' href="#_ftnref25" name="_ftn25" title=""><span
                        class=MsoFootnoteReference><span style='mso-special-character:
footnote'>
                            <![if !supportFootnotes]><span class=MsoFootnoteReference><span style='font-size:10.0pt;font-family:"Calibri",sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>[25]</span></span>
                            <![endif]></span></span></a>
                Cahn, Vol. 17 at 8.</p>



        </div>

        {{>footer}}
</body>

</html>