<!DOCTYPE html>

<html>
    <head>        
        <title>Search</title>
        <link rel="icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            {{!-- <p>Search the "Theaters" table by a given city.</p> --}}

            <form>
                Name of Theatre <input type="text" id="name"></br>
                City <input type="text" id="city"></br>
                State <select id="state"></select></br>
                Name of Circuit <input type="text" id="circuit"></br>
                Manager <input type="text" id="manager"></br>
                Year of interest <input type="text" id="year"></br>
                <label for="vaudeville"> Primarilly Vaudeville</label> <input type="checkbox" id="vaudeville"></br>
                </br>
                <button>Search</button></br>

                <p id="message-1"></p>
                <p id="message-2"></p>
                <p id="showData"></p>
                <p>Note: Only the first 100 results will be displayed.</p>
            </form>
        </div>

        {{>footer}}

         {{!-- Has to run AFTER page content is loaded --}}
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>