<!DOCTYPE html>

<html>

<head>
    <title>Sources</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
        </p>

        <p class=MsoNormal><a
                href="https://www.immigrantentrepreneurship.org/entry.php?rec=178" target="_blank">https://www.immigrantentrepreneurship.org/entry.php?rec=178</a>
        </p>

        <p class=MsoNormal><a
                href="http://www.iroquoistheater.com/klaw-erlanger-theater-syndicate.php" target="_blank">http://www.iroquoistheater.com/klaw-erlanger-theater-syndicate.php</a>
        </p>

        <p class=MsoNormal><a
                href="https://www.arthurwertheim.com/books/vaudeville-wars/" target="_blank">https://www.arthurwertheim.com/books/vaudeville-wars/</a>
        </p>

        <p class=MsoNormal><a
                href="http://www.shubertarchive.org/index_flash.htm" target="_blank">http://www.shubertarchive.org/index_flash.htm</a>
        </p>

        <p class=MsoNormal><a href="http://historictheatres.org/" target="_blank">Theatre Historical
                Society</a></p>

        <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
        </p>
    </div>

    {{>footer}}
</body>

</html>