<header> 
    <h1>{{title}}</h1>

    <a href="/">Home</a>
    <a href="/history">History</a>
    <a href="/circuits">Sample Circuits</a>
    <a href="/guide">Julius Cahn's Guides</a>
    <a href="/about">This Database</a>
    <a href="/sources">Sources</a>
</header>